#userPage-div {
  display: flex;
  background-color: aquamarine;
}

#userPageLeft-div {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  flex-basis: 20%;
  align-items: center;
}

#userCardInfo-div {
  display: flex;
  flex-direction: column;
  background-color: violet;
  width: 95%;
  align-items: center;
  margin: 10px 0;
}

#userCardInfo-div img {
  width: 50%;
  border-radius: 50%;
}

#menuOptionsInfo-div {
  display: flex;
  background-color: yellow;
  width: 95%;
}

#menuOptionsInfo-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menuOptionsInfo-li {
  text-align: center;
  background-color: tomato;
  height: 40px;
  border: 1px solid;
  border-radius: 10px;
  margin: 10px 0;
  padding: 5px 0;
  cursor: pointer;
}

.menuOptionsInfo-li :hover {
  background-color: aquamarine;
  height: 100%;
  border-radius: 10px;
}

#userPageRight-div {
  display: flex;
  background-color: yellowgreen;
  flex-basis: 80%;
  justify-content: center;
}
