#title {
  margin: 0;
}

#signIn-card-div {
  display: flex;
  width: 40%;
  height: 300px;
  background-color: greenyellow;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
}

#signIn-form {
  display: flex;
  flex-direction: column;
  background-color: teal;
  width: 50%;
  justify-items: auto;
}
