#contentOptionCards-div {
  display: grid;
  width: 95%;
  background-color: turquoise;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 200px;
  justify-items: center;
  align-items: center;
}

#formAddCard-div {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: chocolate;
  align-items: center;
}

#formAddCard-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: aqua;
}

.formAddCard-colum {
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: aquamarine;
}

.cardCard-div {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  width: 80%;
  height: 150px;
  word-wrap: break-word;
}
